/* Header component styles */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  will-change: scroll-position;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
